/* Classes */

body {
    margin: 0;
    padding: 0;
    border: #000 dashed;
    background-color: #fff;
}


/* Headers */

.Date-Img-Header{
    border-bottom: 1px solid #f1f3f5;
    width: 100%;
    position: relative;

}

.Date-Img-Header p{
    color: #4a4a4a;
    font-size: 9px;
    font-family: sans-serif ;
    margin: 0;
    padding: 3px 10px;
    position: relative;
    display: inline;
}

.Date-Img-Header img{                             /* Necesito hace que me queda pegado a la izquierda, pero dentro del div así ajusta el tamaño */

    right: 0;
    position: absolute;
    margin-right: 0;
    display: inline;
    padding-right: 0;
    height: auto;
    width: 60px;
}

.Nav-Bar-Container {
    border: dashed salmon;
    max-width: 1000px;
    margin: auto;
    padding: 0;
 ;
}

.Nav-Bar-Container nav {
    padding: 3px 0;
    width: 100%;
    align-items: center;
}

.Nav-Bar-Container nav a {
    text-decoration: none;
    text-align: center;
    
}

.Nav-Bar-Container a img {
    width: 180px;
    padding: 20px 15px 0px 15px;
   
}

.Nav-Bar-Container nav ul {
    display: inline;
    
}

.Nav-Bar-Container nav ul li {
    display: inline;
    text-align: center;
    padding: 0 5px;
    
}

.Nav-Bar-Container nav ul li a {
    text-decoration: none;
    color: rgba(0,0,0,.5);
    font-family: sans-serif;
    font-size: 10px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0;
    padding: 5px 0 0;
    
}

.Nav-Bar-Container nav ul li a:hover{
    color: #903;
}

.Nav-Bar-Container nav input { 
    display: inline;
    margin-left: 30px;
    border-radius: 16px;
    color: #343a40;
}

.Topics-Menu {
    background-color: #000;
    margin: 0;
    border: dashed green;
    display: block;
    
       
}

.Topics-Menu ul{
    padding-left: 200px;
    border: blue dashed;
    width: 800px;
}

.Topics-Menu ul li{
    display: inline;
    text-align: center;
    text-transform: uppercase;
}

.Topics-Menu ul li a{
    font-family: sans-serif;
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 0.48px;
    color: #fff;
    padding: 5px 6px;
    text-decoration: none;
}

.Topics-Menu ul li a::after{
    content: "\B7";
    font-size: 20px;
    margin: 0 6px;
    line-height: 12px;
}

.SN-Links {
    display: inline;
    border: dashed blue;
    text-align: right;
}

.SN-Links a{
    display: inline;
}
/* Main Article */ 

.container {
    width:60%;
    margin: 50px auto 0 auto;
    border: dotted gray;
    background-color: #f8f9fa;
}

.container img{
    width:100% ;
    
}

.container figcaption{
    position: static;
    border-bottom: 5px solid #0076ba;
    color: #0a0a0a;
    background-color: #fff;
    padding: 0 2px;

    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8.5px;
    letter-spacing: .02em;
    width: 100%;
}

/* Headings */

.Major-Headings {
    padding: 10px 5px;
    font-weight: 700;
    font-family: sans-serif;
    
}

.Major-Headings h1 {
    font-size: 48px;
    color: #212529;
    letter-spacing: -0.2rem;
    margin-top: 4px;
    margin-bottom: 0;
    padding-right: 20px;
    
}

.Major-Headings h2{
    font-size: 16px;
    color: #6c757d;
}

/* Sharing */

.SocNet-Sharing {
    border-bottom: 1px solid #6c757d;
    border-top: 1px solid #6c757d;
    margin: 15px 0;
    height: 30px;
}

.SocNet-Sharing ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.SocNet-Sharing ul li {
    float: right;
    margin: 0;
    line-height: 30px;

}

.SocNet-Sharing ul li a {
    display: inline-block;
    font-size: 20px;
    margin: 0;
    min-width: 30px;
    padding: 0px 10px;
    text-align: center;
    border-left: 1px solid #0076ba63;
    color: #6c757d;

}

.SocNet-Sharing ul li a:hover {
    background-color: #007bff;
    color: #fff;

}


.SocNet-Sharing ul li p {
    font-size: 10px;
    font-family: sans-serif;
    text-transform: uppercase;
    margin: 0;
    padding: 1px 10px;
    text-align: center;
    color: #6c757d;
}


/* Article Body */

.Main-Body {
    margin-top: 15px;
    padding: 0 27px;
    font-size: 15px;

}

.Main-Body p {
    line-height: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 0;
    margin-bottom: 15px;
    color: #000;
}

.Cat-Date {                               /* Chequear el tema del padding y margins */
    padding: 0 1rem;
    margin-top: 1rem;

}

.Cat-Date p {
    font-family: sans-serif;
    font-size: 10px;
    color: #6c757d;
    font-weight: 700;
    text-align: center;
    letter-spacing: .05em;
    border-bottom: 1px solid #ccc;
    
}

.Cat-Date p span {
    color: #bebebe;
    font-weight: 400;
}


/* Adds / Other News */

.Content-Related-N {
    border-top: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
    margin: 30px;
    padding: 8px 0;
    text-decoration: none;
    font-size: 13px;
    color: #0a0a0a;
    box-shadow: 0 50px 20px -40px #4a4a4a;
    
    
}

.Content-Related-N p{
    
    margin: 0;
    width: 250px;

}

.Content-Related-N p a {
    color: #0a0a0a;
    text-decoration: none;
}

.Read-More-Link {
    font-size: 10px;
    
}

.Read-More-Link p a {
    color: #7b7b7b;
    text-decoration: none;
    margin: initial;
    padding: initial;
}

.Read-More-Link a i {
    color: #0076ba;
}